@font-face {
  font-family: 'DINOT';
  src: url('/fonts/DINOT-Light.woff2') format('woff2'),
       url('/fonts/DINOT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINOT';
  src: url('/fonts/DINOT-Medium.woff2') format('woff2'),
       url('/fonts/DINOT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINOT';
  src: url('/fonts/DINOT-Bold.woff2') format('woff2'),
       url('/fonts/DINOT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINOT';
  src: url('/fonts/DINOT.woff2') format('woff2'),
       url('/fonts/DINOT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'DINOT', sans-serif;
}